.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.login-form label{
  display: block;
  margin-bottom: 2vh;
}

.friends-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.friends-list h1 {
  width: 100%;
}

.friends-list form {
  border: 1px solid darkgrey;
  border-radius: 3px;
  width: 80%;
  padding: 2vh;
  margin-bottom: 5vh;
}

.friends-list label {
  margin: 0px 10px;
}

.friends-list .friend {
  box-sizing: border-box;
  border: 1px solid gainsboro;
  background: #fafafa;
  width: 22%;
  margin: 2.5vh 0 2.5vh 0;
  padding: 2vh 1vh;
}